<html>
    <head>
        <title>Add Order</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="http://cdnjs.cloudflare.com/ajax/libs/handlebars.js/1.0.0-rc.3/handlebars.min.js"></script>
    </head>
    <body>
        <h3>Add Order</h3>
        <form class="form" method="POST" action="/add-order">
                <div>
                    <label>Name</label>
                    {{!-- <input type="text" name="name" class="form-control"/>  --}}
                    
                    <select name="name" class="form-control">
                        <option value="Chicken king1">Chicken king1</option>
                        <option value="Chicken king2">Chicken king2</option>
                        <option value="Chicken king3">Chicken king3</option>
                        <option value="Chicken king4">Chicken king4</option>
                        <option value="Chicken king5">Chicken king5</option>
                    </select>
                    
                </div>
                 <br/>
                <div>
                    <label>Quantity</label>
                    <input  class="form-control" type="number" placeholder="Quantity" name="quantity" value=""/> 
                </div>
                 <div>
                    <label>predictedquantity</label>
                    <input  class="form-control" type="number" placeholder="predictedquantity" name="predictedquantity" value=""/> 
                </div>
                <br/>
                <div>
                    <button class="btn btn-success">Add Product</button>
                </div>
        </form>
        </div>
    </body>
</html>